.details-button {
  width: 55vw;
  height: vh;
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(110,110,110,1);
  -moz-box-shadow: 2px 2px 10px 0px rgba(110,110,110,1);
  box-shadow: 2px 2px 10px 0px rgba(110,110,110,1);
}

.details-button h3 {
  margin: auto;
  font-size: 24px;
}
